@import "variable";

body {
    .cart-main {
        .cart-content {
            &-table {
                text-align: center;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 2fr 1fr auto;

                div {
                    h6 {
                        height: 1.5rem;
                        border-bottom: solid 2px $_colorRoseOld;
                    }

                    &:not(:last-child) {
                        border-right: solid 2px $_colorRoseOld;

                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }
            &-footer{
                margin-top: 1rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                .optionCart{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
                .totalCart{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    h5{
                        margin: 0;
                    }
                }
            }
        }
        form{
            button{
                    padding: 0.3rem;
                    background: $_colorPurpleLight;
                    padding: 0.3rem;
                    font-size: 1.1rem;
                    color: #fff;
                    border-radius: 4px 20px 4px 20px;
            }
        }
    }
}