@import "variable";

body {
    .swiper {
        .custom-card {
            height: 34rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;
            background: $_colorRoseLight;
            border-radius: 10%;
            box-shadow: -11px 11px 9px $_colorRoseOld;

            img {
                border-radius: 1rem;
                width: 220px;
            }

            a {
                background: #85586F;
                padding: 0.3rem 4rem;
                font-size: 1.1rem;
                color: #fff;
                /* border-top-right-radius: 10px; */
                border-radius: 4px 20px 4px 20px;
            }
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            color: $_colorPurpleLight;
            font-size: 2.5rem;
        }
    }
}

@media (min-width: 768px){
    body{
        .swiper{
            .custom-card{
                width: 14rem;
                img{
                    width: 200px;
                }
            }
        }
    }
}

@media (min-width: 1024px){
    body{
        .swiper{
            .custom-card{
                width: 82%;
                img{
                    width: 230px;
                }
            }
        }
    }
}
@media (min-width: 1350px){
    body{
        .swiper{
            .custom-card{
                width: 77%;
                height: 42rem;
                img{
                    width: 280px;
                }
            }
        }
    }
}

@media (min-width: 1500px){
    body{
        .swiper{
            .custom-card{
                width: 77%;
                height: 46rem;
                img{
                    width: 320px;
                }
            }
        }
    }
}