@import "variable";
body{
    .category-main{
        padding:56px 0;
        background-color: #36252d;
        .custom-card {
            padding: 1rem;
            height: 35rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin:5rem 2rem 0rem 2rem;
            background: $_colorRoseLight;
            border-radius: 10%;
            box-shadow: -11px 11px 9px $_colorRoseOld;

            img {
                border-radius: 1rem;
                width: 220px;
            }

            a {
                background: #85586F;
                padding: 0.3rem 4rem;
                font-size: 1.1rem;
                color: #fff;
                /* border-top-right-radius: 10px; */
                border-radius: 4px 20px 4px 20px;
            }
        }
    }
}

@media (min-width: 425px){
    body{
        .category-main{
            .category-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                .custom-card{
                    width: 63%;
                    img{
                        width: 90%;
                    }
                }
            }
        }
    }

}

@media (min-width: 460px){
    body{
        .category-main{
            .category-content{
                .custom-card{
                    height: 39rem;
                    img{
                        width: 275px;
                    }
                }
            }
        }
    }

}

@media (min-width: 768px){
    body{
        .category-main{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .category-content{
                .custom-card{
                    height: 100%;
                    img{
                        max-width: 77%;
                    }
                }
            }
        }
    }

}