@import "variable";
*{
    margin: 0;
    padding: 0;
}
body{
    a{
        text-decoration: none;
        color: inherit;
    }
    a:hover{
        color: inherit;
    }
    ul,ol{
        list-style: none;
        padding: 0rem;
    }
    h1, h2, h3{
        font-family: $_fontTitle;
    }
    h4, h5, h6{
        font-family: $_fontMedium;
    }
    p,span{
        font-family: $_fontText;
    }
    footer{
        padding-bottom: 0.5rem;
    }
}