@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Quicksand:wght@300;400;500;600;700&display=swap');

$_colorMelange: #F8ECD1;
$_colorRoseLight: #DEB6AB;
$_colorRoseOld: #AC7D88;
$_colorPurpleLight: #85586F;

// quicksand -> texto largo -- kanit texto medio o subtitulos
// abril fatface -> texto titulos
$_fontTitle: 'Abril Fatface', sans-serif;
$_fontMedium: 'Kanit', sans-serif;
$_fontText: 'Quicksand', sans-serif;