@import "../node_modules/bootstrap/scss/bootstrap";
@import "deafault";
@import "variable";
@import "footer";
@import "cards";
@import "detail";
body{
    nav{
        background-color: $_colorRoseOld;
    }
    .main-container{
        background-color: $_colorMelange;
        .container-categorias{  
            div{
                justify-content: space-evenly;
                width: 100%;
            }
            .category{
                font-family: $_fontTitleSecond;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3rem;
                border-radius: 10px;
                width: 40%;
                margin: 0.5rem;
                color: #FFF;
                background: radial-gradient(circle, #f552f1 0%, #cfaabd 100%);
                h4{
                    width: 100%;
                }
            }
            .category:hover{
                background: radial-gradient(circle, #f142ec 0%, #1a1618 100%);
            }
        }
    }
    
    .icon-wspp{
        position: fixed;
        display: flex;
        right: 20px;
        bottom: 20px;
        font-size: 30px;
        background: #25D366;
        color: #FFF;
        border-radius: 50%;
        padding: 10px;
        z-index: 999;
    }
    footer{
        background-color: $_colorPurpleLight;
    }
}