@import "../node_modules/bootstrap/scss/bootstrap";
@import "deafault";
@import "variable";
@import "footer";
@import "cards";
body{
    nav{
        background-color: $_colorRoseOld;
    }
    .main-container{
        background-color: $_colorMelange;
    }
    
    .icon-wspp{
        position: fixed;
        display: flex;
        right: 20px;
        bottom: 20px;
        font-size: 30px;
        background: #25D366;
        color: #FFF;
        border-radius: 50%;
        padding: 10px;
        z-index: 999;
    }
    footer{
        background-color: $_colorPurpleLight;
    }
}